:root{
    --dark1:#161b22;
    --light_beige: #B09E8D;
}
*{
    scroll-behavior: smooth;
    scroll-padding-top: 0rem;
} 
::-webkit-scrollbar {
    width: 0.3rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--light_beige);
    border-radius: 0.3rem;
}
::selection{
    background-color: var(--light_beige);
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
}
header{
    background-color: var(--dark1);
    position: absolute;
    width: 100%;;
}
nav .logo_text{
    font-size: 2rem;
    color: var(--light_beige) !important;
    
}
nav .logo_text .span1{
    font-size: 2.5rem;
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;
    color: white;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav .collapse{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav .collapse ul li a{
    border-bottom: 2px solid transparent;
}
nav .collapse ul li a:hover{
    border-bottom: 2px solid var(--light_beige);
}
nav{
    color: rgba(255, 255, 255, .55);
}
nav i{
    font-style: normal;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
nav i:hover{
    font-style: normal;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.mode_nav{
    margin-right: 1rem;
}
.mode_nav_2{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    min-height: 10rem;
}
section{
    min-height: 90vh;
    max-width: 100%;
}
.sec0, .sec2, .sec4{
    background-color: var(--dark1);
}
.sec0{
    min-height: 100vh;
}

footer{
    background-color: var(--dark1);
    width: 100%;
    height: 5rem;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.up_home{
    display: none;
    position: fixed;
    justify-content:center;
    align-items: center;
    bottom: 1rem;
    right: 1rem;
    z-index: 9;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    background-color: rgb(255, 255, 255);
    color: var(--light_beige);
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
}
.up_home:hover{
    color: var(--dark1);
}

/* sekcja 0 */

.sec0{
    display: flex;
    flex-direction: row;
    padding: 2rem 3em 2rem 5rem;
    min-height: 100vh;
}
.sec0 .logo{
    width: 50%;
    margin-top: 19vh;
    position: relative;
}
.sec0 .logo img{
    width: 25rem;
    border-radius: 50%;
    box-shadow: 0px 0px 1.5rem #b09e8dd3;   
    cursor: pointer;
}
.text_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
}
.sec0 .web_dev{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.9);
    width:75%;
}
.web_dev_name{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    line-height: 4rem;
}
.web_dev_name span, .sec0 .web_dev span{
    color: var(--light_beige);
}
.text_logo{
    width: 90%;
}
.left_icons {
    display: flex;
    justify-content: start;
    align-items: start;
}
.left_icons a{
    margin-right: 2rem;
    text-decoration: none;
}
.left_icons a i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light_beige);
    border-radius: 50%;
    border: 1px solid var(--light_beige);
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}
.left_icons a i:hover{
    color: white;
    border: 1px solid white;
}

.sec0 .div_btn a{
    padding: 1rem 2rem;
    background-color: var(--light_beige);  
    border-radius: 2rem;  
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    margin-right: 1rem;
}
.div_btn .btn_a_1:hover{
    color: var(--light_beige);
    background-color: white;
}
.div_btn .btn_a_2{
    background-color: transparent !important;
    color: var(--light_beige) !important;
    border: 2px solid var(--light_beige) !important;
}
.div_btn .btn_a_2:hover{
    color: white !important;
    border: 2px solid white !important;
}
.sec0 .div_btn{
    margin-top: 2.5rem !important;
}

/* sekcja 1 */ 
.dotted_color_cv{
    color: black;
}
.sec1{
    display: flex;
    flex-direction: row;
    color: #000000cc;
    padding: 2rem 3em 2rem 5rem;
    min-height: 50vh !important;
}
.parent_sec1{
    width: 65%;
}
.text_me{
    margin-top: 2rem;
    margin-right: 3rem;
}
.sec1 .child_sec1{
    width: 35%;
    display: flex;
    align-items: center;
}
.sec1 .child_sec1 img{
    width: 100%;
}
.sec1 .parent_sec1 a{
    padding: 1.5rem 2rem;
    color: var(--light_beige);
    border:2px solid white;
    margin-top: 1rem;
    text-decoration: none;
    word-spacing: 0.2rem;
    border-bottom: 5px solid var(--light_beige);
    transition: background-color 2.5s, color 2s;
}

.sec1 .parent_sec1 a:hover{
    background-color: var(--light_beige);
    color:white !important;
    cursor: pointer;
    transition: background-color 3s, color 2s;
}

/* sekcja 2 */
.sec2{
    padding: 2rem 5em 2rem 5rem;
    display: flex;
    flex-direction: column;
}
.project_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projects_content{
    background-color: white;
    width: 30%;
    margin: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    cursor: pointer;
}
.projects_content img{
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}
.content_img{
    padding: 1.5rem;
    background-color: white;
    border-radius: 0rem 0rem 1rem 1rem;
}
.content_img h4{
    color: black;
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: text;
}
.content_img p{
    cursor: text;
    margin-bottom: 1.5rem;
}
.content_img a{
    border: none;
    background-color: #000000cc;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0.7rem 1.5rem;
}
.content_img a:hover{
    background-color: var(--light_beige);
    cursor: pointer;
}



/* sekcja 3*/
 .sec3{
    color: #000000cc;
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;

}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    justify-content: end;

}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.card > .row > .icon {
    background: var(--light_beige);
    color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    min-height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;   
}
.card .row .description h4{
    color: white !important;
    font-size: 1.5rem;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('img/0a434935c84b3d2fa2df627bcf8ab8404dd.webp');
}
.card[for="c2"] {
    background-image: url('img/cisco-it-essential.webp');
}
.card[for="c3"] {
    background-image: url('img/test-soft.webp');
}





/* sekcja 4 */
.sec4{
    color: #FFFFFFCC;
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;

}

.sec4 .parent_sec4{
    display: flex;
    flex-direction: row;
}
.sec4 div img{
    width: 2.2rem;
}
.sec4  .icons_sklis{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
    padding-right: 1rem;
}
.sec4  .icons_sklis div{
    padding: 0.5rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .web_dev{
    color: var(--light_beige);
    font-size: 1.2em;
    font-family: "Russo One", sans-serif;
    font-style: normal;

}
section h4{
    color: white;
    font-size: 2.5rem;
    font-family: "Russo One", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.sec1 h4, .sec3 h4{
    color: black;
    font-size: 2.5rem;
}
.sec4 .child_sec1 img{
    width: 100%
}
.sec4 .child_sec1{
    width: 35%;
}


@media (max-width:1250px ){
    .sec1 .parent_sec1 a{
        margin-top: 0rem !important;
    }
    section{
        padding: 2rem 4rem !important;
    }
    .sec0 .web_dev{
        width: 85%;
    }
    .web_dev_name{
        font-size: 3rem;
        margin-top: 2.5rem;
        line-height: 3rem;
    }
}
@media (max-width:1090px ){
    .projects_content{
        width: 45%;
    }
    .sec4 .child_sec1{
        display: none;
    }
    .sec4 .icons_sklis{
        width: 100% !important;
    }
    .sec0{
        padding-bottom: 3rem !important;
    }
}

@media (max-width:1024px ){
    .sec1 .child_sec1{
        display: none;
    }
    .sec1 .parent_sec1{
        width: 100%;
    }
    .sec1 .parent_sec1 a{
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    .sec3{
        padding-bottom: 3rem !important;
    }
    .sec4 .icons_sklis div{
        font-size: 1rem;
    }
    .sec4 .icons_sklis div img{
        width: 2rem;
    }
    .sec0{
        padding-top: 4rem !important;
        padding-bottom: 2rem !important;
    }
    .sec0 .logo{
        margin-top: 12vh;
    }
    .sec0 .logo img{
        width: 20rem;
    }
    .text_me{
        margin-right: 0rem !important;
    }

}

@media (max-width:925px ){
    .sec0{
        padding-bottom: 3.5rem !important;
    }
    .sec0 .web_dev{
        font-size: 1.1rem;
    }
    .sec0 .web_dev_name{
        font-size: 2.5rem;
    }
    .sec0 .logo img{
        width: 15rem;
    }
    nav .collapse ul li, nav .mode_nav i{
        font-size: 1rem;
    }
    footer{
        font-size: 0.7rem;
    }
    .container{
        width: 100% !important;
        margin-left: 0rem;
        margin-right: 0rem;
        display: flex;
        justify-content: center !important;
        height: 300px !important;
    }
    .row{
        width:100% !important;
    }


}

@media (max-width:768px ){
    .sec0{
        padding-top: 4.5rem !important;
    }
    .sec0 .web_dev{
        font-size: 1.1rem;
    }
    .sec0 .web_dev_name{
        font-size: 2.5rem;
    }
    .sec0 .logo{
        display: flex;
        align-items: start;
        justify-content: right;
        width: 35%;
    }
    .sec0 .logo img{
        width: 10rem;
    }
    .projects_content{
        width: 60%;
    }
    section{
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    nav .mode_nav{
        display: none;
    }
    .navbar-toggler{
        margin-right: 2rem;
    }
    
    .collapse ul li, .mode_nav_2{
        margin-left: 3rem !important;
        margin-bottom: 0.5rem;
    }
    .mode_nav_2{
        display: flex;
        margin-top: 1rem;
        margin-left: 3.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    #main-menu{
        z-index: 2;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: var(--dark1);
    }
    .collapse{
        border-bottom: 1px solid var(--light_beige);

    }
    .sec3{
        min-height: 2vh !important;
    }
}


@media (max-width:650px ){
    .sec0 .logo{
        display: none;
    }
    .sec0 .text_logo{
        width: 100%;
    }
    .projects_content{
        width: 65%;
    }
    .sec0 .text_logo{
        margin-top: 1rem !important;
        margin-bottom: 0rem !important;
    }
    .sec1{
        padding-bottom: 2.5rem !important;
    }

    .sec4  .icons_sklis div{
        padding: 0.3rem 0.4rem;
        font-size: 0.9rem;

    }
    .sec4  .icons_sklis div img{
        width: 1.5rem;
    }
    .container{
        height: 200px !important;
        margin-bottom: 0rem !important;
    }
    .row{
        font-size: 1rem;
    }
    .card > .row > .icon{
        width: 1.5rem;
        height:1.5rem;;
    }
    .row .description h4{
        font-size: 1rem !important;
    }

}
@media (max-width:600px ){

    .projects_content{
        width: 70%;
    }
    .up_home{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }
}
@media (max-width:500px ){
    section{
        padding-left: 2rem !important ;
        padding-right: 2rem !important ;
    }

    body{
        font-size: 1..05rem;
    }
    .projects_content{
        width: 75%;
    }
    .sec4  .icons_sklis div{
        padding: 0.3rem 0.3rem;
        font-size: 0.9rem;
    }
    .sec4  .icons_sklis{
        justify-content: space-around;
    }
    footer{
        font-size: 0.6rem;
    }
    .container{
        display: none;
    }
}
@media (max-width:425px ){
    .btn_a_1{
        display: none;
    }
    .div_btn .btn_a_2{
        background-color: var(--light_beige) !important;  
        color: white !important;
        border: 2px solid transparent !important;
    }
    .div_btn .btn_a_2:hover{
        color: var(--light_beige) !important;
        background-color: white !important;
    }
    .sec0 .div_btn{
        display: flex;
        justify-content: center;
        margin-top: 1rem !important;
    }
    .sec0 .div_btn a{
        margin-right: 0rem !important;
    }
    .left_icons{
        display: flex;
        justify-content: center;
    }
    .last_a{
        margin-right: 0rem !important;
    }
    .projects_content{
        width: 90%;
    }
    section h4{
        font-size: 2rem !important;
    }
    .sec4 h4{
        margin-bottom: 2rem !important;
    }
    .container{
        height: 100px !important;
    }

}

@media (max-width:390px ){

}