
:root{
    --white:rgb(255, 255, 255);
    --blue:rgb(0, 161, 224);
    --blue2:rgb(179, 216, 231);
    --dark_blue:rgba(8,28,41,1);
    --dark_blue2:rgba(15,44,67,1);
    --light_grey:#eee7e7;
    --green:rgb(149, 197, 101);
    --light_blue:rgba(0, 160, 224, 0.502);


}
*{
    scroll-behavior: smooth;
    scroll-padding-top: 0rem;
} 
::-webkit-scrollbar {
    width: 0.2rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 0.3rem;
}
::selection{
    background-color: var(--blue);
    color: white;
}
body{
    margin: 0;
    background-color: white;
    scroll-behavior:auto;
    color: var(--white);
    position: relative;
    font-family: "Montserrat", sans-serif;
}


/*header section*/
header{
    background-color: var(--dark_blue);
    font-size: 1.1rem; 
    width: 100%;
}
nav{
    width: 100%;
}
.nav-link{
    padding: 1rem;
    transition:0.3s;
}
.nav-link:hover{
    color: var(--blue) !important;
    transition:0.3s;
}
.Start_text{
    font-size: 2rem;
}
.dotted_color{
    color: var(--blue) !important;
}
header .mode_nav{
    font-size: 1.3rem;
}
header .mode_nav i, header .mode_nav a{
    padding: 1rem;
    text-decoration: none;
}
header .mode_nav i:hover, header{
    color: var(--blue) !important;
    cursor: pointer;
}
.nav-link.active {
    color: var(--blue) !important;
    background-color: transparent !important;
    border-radius: 0.5rem;
}
/*
.mode_nav i{
    color: var(--white) !important;
}*/
.git_hub{
    min-width: 1rem;
    font-style: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: var(--blue);
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    height: 2rem !important;
    margin-top: 1rem !important;
}
.git_hub .git_logo{
    padding: 0.1rem 0.5rem !important;
}

.git_hub:hover, .git_hub:hover .git_logo{
    color: var(--blue) !important;
}
.git_hub:hover{
    background-color: var(--white) !important;
}
/* mian section */
h1{
    font-size: 3rem;
}
main{
    min-height: 100rem;
    
}
main section{
    min-height: 40rem;
    background-color: var(--dark_blue2);
}
.fake_padding{
    height: 4.6rem;
    display: flex;
    flex-direction: column;
}
.fake_padding .fake_color1{
    background-color: var(--dark_blue);
    height: 50%;
}
.fake_padding .fake_color2{
    background-color: var(--dark_blue2);
    height: 50%;
}
.box1{
    background-color: var(--dark_blue);
}
.first{
    min-height: 20rem !important;
}
.first article{
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: center;
}
.first aside{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 30rem;
}
.img-start{
    border-radius: 1rem;
    width: 18rem;
}
.first article h1{
    font-size: 3.5rem;
}
.first article a{
    background-color: var(--blue);
    padding: 1rem 3rem;
    text-decoration: none;
    width: 12rem;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    font-weight: bold;
    color:var(--white);
}
.first article a:hover{
    background-color: var(--white);
    color: black;
}

.second{
    display: flex;
    flex-direction: column;
}
.second h1{
    text-align: center;
    padding-top: 2rem;
}
.second_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.second_container aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_container aside img{
    border-radius: 12%;
    margin-right: 3rem;
}/*
.sec_img_1{
    clip-path: polygon(0 0, 0 100%, 100% 0);
}
.sec_img_2{
    
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
}*/
.second article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}
.second article a{
    background-color: var(--blue);
    text-decoration: none;
    padding:1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    color: var(--white);
    width: 12rem;

}
.second article a:hover{
    color: black;
    background-color: var(--white);
}
.second article i{
    margin-right: 0.5rem;
}
.text_me{
    font-size: 1.2rem;
}
.third{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.third h1{
    text-align: center;
    padding-top: 2rem;
}
.third .third_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%
}
.third_box_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content, #third_box5_content{
    width: 60%;
}

.third_box1, .third_box2, .third_box3{
    background-color: var(--blue);
    padding: 1rem 3rem;
    text-decoration: none;
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.third article i{
    margin-right: 0.5rem;
}
.third_box1_content{
    min-height: 10rem;
}
.third_box_container .card{
    display: flex;
    justify-content: center;
}
.third_box_container .card:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}
.third_box_container .grade{
    height: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
}
.third_box_container .grade .grade1{
    background-color: var(--light_blue);
    width: 95%;
}
.third_box_container .grade .grade2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third_box_container .grade .grade1_0{
    background-color: var(--blue);
    height: 100%;
    width: 50%;
}
.third_box_container .grade .grade1_0_balsamiq{
    background-color: var(--blue);
    height: 100%;
    width: 60%;
}

.third_box_container .grade .grade1_0_jira{
    background-color: var(--blue);
    height: 100%;
    width: 30%;
}

.third_box_container .grade .grade1_1{
    background-color: var(--blue);
    height: 100%;
    width: 75%;
}
.third_box_container .grade .grade1_1_1{
    background-color: var(--blue);
    height: 100%;
    width: 65%;
}

.third_box_container .grade .grade1_1_1t{
    background-color: var(--blue);
    height: 100%;
    width: 30%;
}
.third_box_container .grade .grade1_2{
    background-color: var(--blue);
    height: 100%;
    width: 50%;
}
.third_box_container .grade .grade1_2P{
    background-color: var(--blue);
    height: 100%;
    width: 35%;
}
.third_box_container .grade .grade1_2C{
    background-color: var(--blue);
    height: 100%;
    width: 30%;
}
.third_box_container .grade .grade1_2_1{
    background-color: var(--blue);
    height: 100%;
    width: 25%;
}
.third_box_container .grade .grade1_2_2{
    background-color: var(--blue);
    height: 100%;
    width: 20%;
}

.third_box_container .grade .grade1_3{
    background-color: var(--blue);
    height: 100%;
    width: 80%;
}
.third_box_container .grade .grade1_4{
    background-color: var(--blue);
    height: 100%;
    width: 80%;
}
.third_box_container .grade .grade1_5{
    background-color: var(--blue);
    height: 100%;
    width: 50%;
}
.third_box_container .grade .grade1_6{
    background-color: var(--blue);
    height: 100%;
    width: 30%;
}
/* Certificates */
.third .certificates{
    display: flex;
    flex-direction: row !important;
    justify-content:space-around ;
}
.third .certificates .third_box_container{
    width: 28%;
    text-align: center;

}
.third .certificates .third_box_container a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 10rem !important;
}

.certificates .third_box_container #it_essential, .certificates .third_box_container #testing, .certificates .third_box_container #postman{
    height: 100%;
    width: 100%;
    
}

.certificates .third_box_container #it_essential .grade, .certificates .third_box_container #testing .grade, .certificates .third_box_container #postman .grade{
    height: 100%;
    width: 100%;
}
.certificates .third_box_container #it_essential .grade img, .certificates .third_box_container #testing .grade img, .certificates .third_box_container #postman .grade img{
    width: 100%;

}
.fourth{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.fourth h1{
    text-align: center;
    padding-top: 2rem;
}
.fourth article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 30rem;
    width: 100%;
    padding: 0rem 6rem;
}
.fourth article .project1, .fourth article .project2{
    display: flex;
    flex-direction: column;
    width: 49%;
    min-height: 10rem;
}
.project1 img,.project2 img{
    min-height: 10rem;
    width: 100%;
    border-radius: 0.9rem;
}
.project2 a, .project1 a{

    width: 100%;
    border-radius: 0.9rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blur_p{
    background-color: rgba(0, 0, 0, 0.5);
    height: 95%;
    width: 97%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9rem;
    display: none;
}
.plus{
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--blue);
    padding: 0.9rem;
    border-radius: 0.9rem;
}
.nav_projects{
    display: flex;
    justify-content: center;

}
.nav_projects i{
    padding: 1rem 3rem;
    font-style: normal;
    margin: 2rem 1rem 1rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 4px transparent solid;
    transition:0.5s;
}
.nav_projects i:hover{
    border-bottom: 4px var(--blue) solid !important;
    color: var(--blue);
    cursor: pointer;
    transition:0.5s;
}
.nav_project_i_color_border{
    border-bottom: 4px var(--blue2) solid !important;
    color: var(--blue2) ;
}

.fifth{
    background-image: url(img/contact-image.webp);
    min-height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.fifth .blur_efect{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.fifth .blur_efect .maildiv{
    text-align: center;
    padding-top: 1.5rem;
    background-color: #eeeeee49;
    padding: 4rem;
    border-radius: .9rem;
    width: 80%;
    margin-top:2rem;
}
.fifth .blur_efect .maildiv .mailto{
    color: white;
    text-decoration: none;
}
.fifth .blur_efect .maildiv .mailto:hover{
    text-decoration:underline;
}
.fifth form{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: monospace;
    margin-bottom: 1rem;
}
.fifth form input, .fifth form textarea{
    background-color: transparent;
    border: 2px solid var(--white);
    height: 4.2rem;
    margin-top: 1rem;
    padding: 1.5rem;
    color: white !important;

}
.fifth form input::placeholder, .fifth form textarea::placeholder{ 
    opacity:1;
    color:white !important;
}

.fifth form input:focus-visible,.fifth form textarea:focus-visible{ 
    background-color: var(--white);
    color:rgba(8,28,41,1) !important;

}
.fifth form textarea{
    height: 10rem;
}.fifth form div{
    display: flex;
    justify-content: center;
    width: 100%;
}
.fifth button{
    margin-top: 1rem;
    height: 2rem;
    width: 10%;
    padding:2rem 5rem;
    font-size: 1.3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark_blue);
    font-weight: bold;
    border-radius: 0.2rem;
}
.fifth button:hover{
    color: var(--white);
    background-color: var(--blue);
}
.pl_icon, .eng_icon{
    font-size: 1rem;
}


.arrow_up{
    padding: 1rem;
    background-color: var(--dark_blue);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    position: absolute;
    text-decoration: none;
    color: var(--white);
    right: 1rem;
}
.arrow_up:hover{
    color: var(--blue);
}
/*
.mode_color{
    color: var(--blue) !important;
}
.mode_text{
    color: black !important;
}
.mode_btn:hover{
    color: white !important;
}
.mode_form{
    color: white !important;
}
.mode_border{
    border-color: white !important;
    color: black !important;
}
.mode_border::placeholder{
    color: white !important;
}
.mode_border:focus-visible{ 
    background-color:white !important;
    color: black !important;

}
.mode_card:hover{
    background-color: #eee !important;
}
.mode_navbar_icon{
    border-color: rgba(0, 0, 0, 0.5) !important;
}
*/

.dark_light_mode_change, .dark_light_mode_change2{

}
.dark_light_mode_change_click{
    background-color: #fff !important;
    color: black !important;
}
.dark_light_mode_change_click2{
    background-color: #eee !important;
    color: black !important;
}
.change_color{
    color: #a4c756 !important;
}
.btn_color_change{
    background-color: #a4c756 !important;
    color: black !important;
}
.btn_cv_change_mode:hover{
    background-color: black !important;
    color: white !important;
}
.send:hover{
    background-color: #a4c756 !important;
}
.footer_change{
    background-color: #a4c756 !important;
}
.black_text_mode{
    color: black !important;
}
.arrow_up_mode_change:hover{
    background-color: white !important;
    color: #a4c756 !important;
}
.grade_color_mode{
    background-color: rgba(186, 215, 124, 0.5) !important;
}
.blur_p_mode{
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.mode_navbar_icon{
    border-color: rgba(0, 0, 0, 0.5) !important;
}
.mode_icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Footer section */
footer{
    height: 4rem;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.git_logo2{
    display: none !important;
}
@media(max-width:1440px)  {
    .third_box1, .third_box2, .third_box3{
        width: 60%;
    }
    .third_box1, .third_box2, .third_box3{
        width: 60%;
        padding: 1rem 1rem;
    }
    .third article i{
        margin-right: 1rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content, #third_box4_content,#third_box5_content{
        width: 60%;
    }
    .third{
        min-height: 30rem;
    }
    .fifth form{
        width: 60%;
    }
    .fifth{
        min-height: 45rem;
    }
    .git_hub{
        display: none;
    }

}

@media(max-width:1250px)  {
    .third_box1, .third_box2, .third_box3{
        width: 60%;
    }
    .third_box1, .third_box2, .third_box3{
        width: 65%;
        padding: 1rem 1rem;
    }
    .third article i{
        margin-right: 1rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content,#third_box5_content{
        width: 65%;
    }
    .third{
        min-height: 30rem;
    }
    .fifth form{
        width: 65%;
    }
    .fifth{
        min-height: 45rem;
    }
    .fourth article{
        min-height: 30rem;
        width: 100%;
        padding: 0rem 4rem;
    }
    .git_logo2{ 
        display: inline !important;
    }

}

@media(max-width:1124px)  {
    .third_box1, .third_box2, .third_box3{
        width: 60%;
    }
    .third_box1, .third_box2, .third_box3{
        width: 70%;
        padding: 1rem 1rem;
    }
    .third article i{
        margin-right: 1rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content, #third_box5_content{
        width: 70%;
    }
    .third{
        min-height: 30rem;
    }
    .fifth form{
        width: 70%;
    }
    .fifth{
        min-height: 45rem;
    }
    .fourth article{
        padding: 0rem 3rem;
    }
    .it_essential, .testing, .postman{
        font-size: 1.2rem ;
    }
}
@media(max-width:1024px)  {
    .third_box1, .third_box2, .third_box3{
        width: 60%;
    }
    .third_box1, .third_box2, .third_box3{
        width: 75%;
        padding: 1rem 1rem;
    }
    .third article i{
        margin-right: 1rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content, #third_box5_content{
        width: 75%;
    }
    .third{
        min-height: 30rem;
    }
    .fifth form{
        width: 70%;
    }
    .fifth{
        min-height: 45rem;
    }
    .fourth article{
        padding: 0rem 3rem;
    }
    .nav_projects i{
        margin: 1rem 0.5rem 0.5rem 0.5rem;
        padding: 1rem 2rem;
    }
    .it_essential, .testing, .postman{
        font-size: 1.1rem ;
    }
}
@media(max-width:900px)  {
    .third_box1, .third_box2, .third_box3{
        width: 65%;
    }
    .third_box1, .third_box2, .third_box3{
        width: 80%;
        padding: 1rem 1rem;
    }
    .third article i{
        margin-right: 1rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content,#third_box5_content{
        width: 80%;
    }
    .third{
        min-height: 30rem;
    }
    .fifth form{
        width: 75%;
    }
    .fifth{
        min-height: 45rem;
    }

}
.fourth article{
    padding: 0rem 1.5rem;
}

/*test*/
@media (max-width:768px) {
    main .first article{
        padding-top: 0rem  !important;
        width: 60%;
    }
    .first aside{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 20rem;
    }
    .first img{
        width: 120%;
    }
    .third_box1, .third_box2, .third_box3{
        width: 90%;
        padding: 1rem 1rem;
    }
    .third article i{
        margin-right: 1rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content,#third_box5_content{
        width: 90%;
    }
    .third{
        min-height: 30rem;
    }
    .fifth form{
        width: 80%;
    }
    .fifth{
        min-height: 45rem;
    }
    .second h1{
        padding-bottom: 2rem;
    }
    .second aside img{
        margin: 0;
        padding: 0rem 2rem;
    }       
    .second .second_container{
        margin-left: 0rem !important;
    }
    .cv_text{
        padding-right: 1.5rem;
    }
    .fourth article{
        padding: 0rem 1rem;
    }
    .nav_projects i{
        margin: 1rem 0.5rem 0.5rem 0.5rem;
        padding: 1rem 1.5rem;
    }
    .it_essential, .testing, .postman{
        font-size: 1rem ;
    }
    .third_cert .third_box_container{
        min-height: 2rem;
    }   

}
@media (max-width:685px) {
    .first aside{
        display: none;
    }
    main .first article{
        padding-top: 0rem  !important;
        width: 100%;
    }
    .third_box1, .third_box2, .third_box3{
        width: 90%;
        padding: 1rem 1rem;
    }
    .third article i{
        margin-right: 1rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content,#third_box5_content{
        width: 90%;
    }
    .fourth article{
        padding: 0rem 2rem;
    }
    .project1{
        width: 100% !important;
    }
    .project2{
        width: 100% !important;
    }
    .nav_projects i{
        margin: 1rem 0rem 0.5rem 0rem;
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    .fifth .blur_efect .maildiv, .fifth .blur_efect .maildiv a{
        font-size: 1rem;
        padding: 3rem;
    }
    .fifth .blur_efect .maildiv h2{
        font-size: 1.35rem;
    }
    .it_essential, .testing, .postman{
        font-size: 1.2rem ;
    }
    .third .certificates{
        flex-direction: column !important;
    }
    .third .certificates .third_box_container{
        width: 80%;
        min-height: 5rem;
    }
}


@media(max-width:480px)  {
    .first article h1{
        font-size: 2.7rem;
    }
    .first article{
        width: 100%;
        padding:0rem 3rem !important;
        min-height: 20rem;
    }
    .first aside{
        display: none;
    }
    .second_container{
        margin:0rem 0rem!important;
        padding: 0px 1rem;
    }
    .second_container article{
        padding-left: 1rem;
    }
    .second h1{
        padding-bottom: 2rem;
    }
    .third_box1, .third_box2, .third_box3{
        width: 100%;
        padding: 1rem 1rem;
    }
    .third article i{
        margin-right: 1rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content,#third_box5_content{
        width: 100%;
    }
    .fifth form{
        width: 80%;
    }
    .arrow_up{
        padding: 0.6rem;
    }
    .third{
        padding-bottom: 2rem;
    }
    main section{
        min-height: 20rem;
    }
    .Start_text{
        margin-left: 5px  !important;
    }
    .cv_text{
        font-size: 1rem;
    }
    .second aside img{
        margin: 0;
    }
    .first aside img{
        margin: 0;
        width: 90%;
    }
    main .first{
        padding-top: 0rem  !important;
    }
    .fifth{
        min-height: 45rem;
    }
    .fourth article .project1,.fourth article .project2{
        width: 100% !important;
        min-height: 10rem !important;
    }
    .project1 a{
        height: 50% !important;
    }
    .fourth h1{
        margin-bottom: 1.5rem !important;
    }
    .fourth article{
        padding: 0rem 1.5rem;
    }
    .p_title{
        margin-top: 1rem;
    }
    .nav_projects i{
        margin: 1rem 0rem 0rem 0rem;
        padding: 1rem 0.9rem;
        font-size: 0.85rem;
    }
    .fifth .blur_efect .maildiv{
        font-size: 1rem;
        padding: 2.2rem;
    }
    .fifth .blur_efect .maildiv a{
        font-size: 0.75rem;
    }
    .fifth .blur_efect .maildiv h2{
        font-size: 1.1rem;
    }
    .third .certificates .third_box_container{
        width: 95%;
        min-height: 5rem;
    }
}

@media (max-width:320px) {
    .first article h1{
        font-size: 2.2rem;
    }
    .first article{
        padding:0rem 3rem !important;
    }
    .fourth article .project1,.fourth article .project2{
        width: 100% !important;
        min-height: 10rem !important;
    }
    .fourth h1{
        margin-bottom: 1.5rem !important;
    }
    .fourth article{
        padding: 0rem 1.7rem;
    }
    .nav_projects i{
        margin: 1rem 0rem 0rem 0rem;
        padding: 1rem 0.75rem;
        font-size: 0.7rem;
    }
}
@media (max-width:290px) {
    .third_container{
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    .third_box1, .third_box2, .third_box3{
        width:100%;
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    .third article i{
        margin-right: 0.5rem;
    }
    #third_box1_content,#third_box2_content,#third_box3_content,#third_box4_content,#third_box5_content{
        width: 100%;
        font-size: 0.5rem;
    }
    .Start_text{
        font-size: 1.5rem;
    }
    .fourth article .project1,.fourth article .project2{
        width: 100% !important;
        min-height: 10rem !important;
    }
    .project1 a{
        height: 50% !important;
    }
    .fourth h1{
        margin-bottom: 1.5rem !important;
    }
    .fourth article{
        padding: 0rem 1rem;
    }
    .nav_projects i{
        margin: 1rem 0rem 0rem 0rem;
        padding: 1rem 0.5rem;
        font-size: 0.7rem;
    }
}