header{
  background-color: #fff;
  height: 110px !important;
  width: 100%;
  padding: 0rem 7rem 0rem 7rem;
  border-bottom: 1px rgba(209, 209, 209, 0.49) solid;
  display: flex;
  justify-content: space-between;


  .header_logo{
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: "Russo One", sans-serif;
    padding-top: 1rem;

    .logo_text {
      font-size: 2rem;
      color: #B09E8D !important;
      color: #72b3ac !important;
      text-decoration: none !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 100 !important;


      .span1 {
        font-size: 3rem;
        color: #141C3A;

        margin-left: 0.2rem;
        margin-right: 0.2rem;
        font-family: "Russo One", sans-serif;
        font-weight: bold;
        font-style: normal;
        margin-bottom: 0.5rem;
      }
      .dotted_color{

      }
    }
  }
  .header_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a{
      font-size: 22px;
      color: #72b3ac !important;
      text-decoration: none;
      padding: 1rem;
      cursor: pointer;
    }
    a:hover{
      color:#A6CDC6 !important;
    }

  }

}

@media (max-width: 1250px){
  header{
    padding: 0rem 6rem 0rem 6rem;
    height: 100px !important;
  }
}


@media (max-width: 1024px){
  header{
    padding: 0rem 4rem 0rem 4rem;
  }
}

@media (max-width: 512px){
  header{
    padding: 0rem 3rem 0rem 3rem;
    height: 95px !important;

  }
}

@media (max-width: 400px){
  header{
    padding: 0rem 2rem 0rem 2rem;

  }
}