header{
  background-color: #fff;
  height: 120px !important;
  width: 100%;
  padding: 0rem 7rem 0rem 7rem;
  border-bottom: 1px rgba(209, 209, 209, 0.49) solid;
  display: flex;
  justify-content: space-between;


  .header_logo{
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: "Russo One", sans-serif;
    padding-top: 1rem;

    .logo_text {
      font-size: 2rem;
      color: #B09E8D !important;
      color: #72b3ac !important;
      text-decoration: none !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 100 !important;


      .span1 {
        font-size: 3rem;
        color: #141C3A;

        margin-left: 0.2rem;
        margin-right: 0.2rem;
        font-family: "Russo One", sans-serif;
        font-weight: bold;
        font-style: normal;
        margin-bottom: 0.5rem;
      }
      .dotted_color{

      }
    }
  }
  .header_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button{
      font-family: "poppins";
      background-color: transparent;
      border: 2px solid #141C3A;
      border-radius: 1.5rem;
      padding: 0.7rem 1.3rem;
      font-size: 16px;
      color: #141C3A;
      cursor: pointer;
    }

    button:hover{
      background-color: #72b3ac !important;
      color: white !important;
      border-color: #72b3ac;


    }

  }


}
