.main_error{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  margin-bottom: 8rem;
  padding-right:3rem;
  padding-left:3rem;
  width: 100%;

  i{
    color: #72b3ac;
    font-size: 4rem;
    margin-top: 5rem;
  }
  h2{
    text-align: center;
    font-size: 45px;
    margin-block-end: 0rem;
    margin-block-start: 1rem;
  }
  p{
    font-size: 22px;
    text-align: center;
    margin-bottom: 3rem;
  }
  button{
    margin-bottom: 5rem;
  }
}

@media (max-width: 1025px) {
  .main_error{
    margin-bottom: 20rem;
    h2{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
  }
}

@media (max-width: 700px) {
  .main_error {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    h2{
      font-size: 36px;
    }
  }
}

@media (max-width: 500px) {
  .main_error{
    padding-left: 2rem;
    padding-right: 2rem;
    h2{
      font-size: 32px;
    }
    p{
      font-size: 18px;
    }
  }
}
@media (max-width: 400px) {
  .main_error{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}